*/**/__pycache__
build/
test/logs/*
!.gitkeep
#**.vcd
dump.vcd
gds
gds/**/*.gltf
**.nvim
.DS_Store
results.xml
.python-version
research_papers/
sim_build
tiny-gpu-mlir/
#*.surf.ron

test_all.log
yosys/*.v
yosys/*.json

test/results/plots/*.png
